.container-hexagon {
    background: url(../images/hexagon-icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    margin: 20px auto;
}

.container-content {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 30;
}

.container-tiles {
    position: relative;
    z-index: 30;
}

.content-tile {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-tile-image {
    padding: 0px;
    overflow: hidden;
}

.content-background-gray {
    background: #e0e0e0;
}

.content-background-green {
    background: #6fbd22;
    color: white;
}

.content-background-red {
    background: #ff6262;
    color: white;
}

.content-background-dark-blue {
    background: #1A3A53;
}

.content-background-middle-gray {
    background: #646467;
}

.content-background-dark-gray {
    background: #0B1B27;
}

.content-background-image {
    background: #e0e0e0;
}

.content-background-white {
    background: #fff;
}

.content-background-lite-gray {
    background: #eef0f1;
}

.content-background-middle-lite-gray {
    background: #dcdcdc;
}

.content-header-middle {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.content-header-small {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.content-paragraph-middle {
    text-align: center;
    font-size: 22px;
}

.content-paragraph-big {
    text-align: center;
    font-size: 40px;
}

.content-paragraph-small {
    text-align: center;
    font-size: 18px;
}

.container-wood {
    background: url(../images/bg-wood.jpg);
    position: relative;
    z-index: 30;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-wood {
    background: url(../images/bg-wood.jpg);
}

.container-request-call {
    background: transparent;
}

.block-request-call {
    margin: auto;
    text-align: center;
}

#container-request-call-parallax {
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
}

.btn-red {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    padding: 12px 72px;
    background-color: #f01418;
    -webkit-box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
    box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-image: none;
}

.btn-red:active,
.btn-red:hover,
.btn-red:focus {
    background-color: #db1b1e;
}

.container-image-tile {
    display: flex;
    flex-wrap: wrap;
}

.block-image-tile {
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
}

.block-image-tile-img {
    position: relative;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.block-image-tile:hover .block-image-tile-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.block-image-tile:hover .block-image-tile-info {
    bottom: 0px;
}

.block-image-tile-img img {
    height: 100%;
}

.block-image-tile-info {
    position: absolute;
    z-index: 15;
    bottom: -110px;
    height: 110px;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    display: flex;
    align-items: center
}

.container-footer-feedback {
    text-align: center;
}

.lite-input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid#cacaca;
    padding: 5px 15px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.default-input {
    margin: 0px;
    padding: 0 19px;
    position: relative;
    height: 40px;
    border: 0px;
}

.dark-input {
    background: #152E42;
    border-bottom: 1px solid #486175;
    color: white;
    width: 100%;
}

.margin-middle-bottom {
    margin-bottom: 20px;
}

.margin-small-top {
    margin-top: 10px;
}

.margin-middle-top {
    margin-top: 20px;
}

.margin-big-top {
    margin-top: 30px;
}

.content-header {
    font-size: 46px;
    margin-bottom: 30px;
}

.content-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #4a4a4a;
    padding-bottom: 1px;
    border-bottom: 2px solid #bb000b;
}

.content-title:hover,
.content-title:focus {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #4a4a4a;
    border-bottom: 2px solid #bb000b;
}

.content-title-right {
    margin-top: 38px;
    display: block;
    float: right;
}

.text-white {
    color: white;
}

.text-white:hover {
    color: white;
}

.text-white:active {
    color: white;
}

.text-white:focus {
    color: white;
}

.align-left {
    text-align: left;
}

#container-request-call-parallax {
    height: 1000px;
    background-image: url(../images/bg-block-1.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.form-block-wrap {
    margin-bottom: 15px;
}

/*----------- map -----------*/

.container-map {
    position: relative;
    z-index: 30;
    height: 400px;
}

.container-map-contact {
    position: absolute;
    background: #3d3d3dba;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    z-index: 40;
    height: 400px;
}
@media(max-width: 767px) {
    .container-map-contact{
    position: relative;
    }
}

.contact-map-title {
    font-weight: 500;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 46px;
}

.contact-map {
    color: #2b2b2b;
    display: flex;
    align-items: center;
}

.contact-map-all-contacts {
    position: absolute;
    bottom: 30px;
}

.link-all-contacts {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #bb000b;
}

.link-all-contacts:hover {
    text-decoration: none;
}

.link-all-contacts:focus {
    text-decoration: none;
}

.contact-map-text {
    font-size: 18px; 
}

/*----------- square tiles -----------*/

.container-square-tiles {
    display: flex;
    justify-content: space-between;
}

.square-tile {
    border: 1px solid #fff;
    border-radius: 1px;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    text-decoration: none;
    display: block;
}

.square-tile-dark {
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    color: #4a4a4a;
}

.col-tile-3 {
    flex-basis: 25%;
}

.col-tile-4 {
    flex-basis: 30%;
}

.square-tile-icon {
    height: 45%;
    display: flex;
}

.square-tile-icon img {
    width: 25%;
    margin: auto;
}

.square-tile-separator {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.separator-white {
    border-bottom: 1px solid #fff;
}

.separator-gray {
    border-bottom: 1px solid #4a4a4a;
}

.separator-red {
    border-bottom: 1px solid #bb000b;
}

@media (max-width: 991px) { 
    .square-tile-icon {
        height: 40%;
    }
    .square-tile-separator {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

/*----------- FOOTER -----------*/

.footer-link {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid#bb000b;
}

.footer-link:active,
.footer-link:focus {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid#bb000b;
}

.footer-menu-title {
    font-weight: 500;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 18px;
}

.footer-menu-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.footer-menu-list li {
    color: #888;
    margin-bottom: 15px;
}

.footer-menu-contact {
    display: flex;
    margin-bottom: 15px;
}

.footer-contact-text {
    color: #FFF;
    display: flex;
    align-items: center;
}

.footer-contact-icon {
    font-size: 26px;
    color: #f01418;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.content-background-darkness {
    background: #09161f;
}

.square-mobile-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

.square-mobile-container-dark {
    display: flex;
    flex-direction: column;
    border: 1px solid #868686;
    border-radius: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

.square-mobile-paragraph {
    text-align: center;
}

.square-mobile-image-wrap {
    text-align: center;
}

.square-mobile-image {
    height: 60px;
    margin: 15px;
}

.square-mobile-separator {
    width: 50%;
    margin: auto;
    border: 1px solid white;
}

.square-mobile-separator-red {
    width: 50%;
    margin: auto;
    border: 1px solid #bb000b;
}

.square-tile-lite:hover,
.square-tile-lite:active,
.square-tile-lite:focus {
    box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.82);
    background: #3e3e3e8a;
    text-decoration: none;
}

.square-tile-dark:hover, 
.square-tile-dark:active,
.square-tile-dark:focus {
    box-shadow: 0px 0px 20px 15px rgb(195, 195, 195);
    background: #ffffff;
    text-decoration: none;
    color: #4a4a4a;
}

.map-contact-mobile {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-paper-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    display: flex;
}

.top-paper-modal {
    display: flex;
    justify-content: flex-end;
}

.body-paper-modal {
    margin: auto;
    width: 100%;
    max-width: 600px;
    background: white;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    border-radius: 1px;
}

.content-paper-modal {
    padding: 20px 20px 30px 20px;
}

.close-paper-modal:hover {
    background: #bb000b;
    color: white;
}

.paper-modal-title {
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}

.btn-dark-red {
    background: #bb000b;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 72px;
    box-shadow: 0 8px 15px 0 rgba(117, 117, 117, 0.4);
    color: #ffffff;
    border: 0;
    border-radius: 1px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-dark-red:hover {
    background-color: #db1b1e;
}

.btn-dark-red:active,
.btn-dark-red:focus {
    background-color: #b12d34;
}

.reset-color,
.reset-color:hover,
.reset-color:active,
.reset-color:focus {
    color: inherit;
}

.footer-contact-column {
    flex-direction: column;
    align-items: baseline;
}

.container-copyright {
    color: #ababab;
    text-align: center;
}

.container-slider-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider-mobile-block {

}

.slider-mobile-header {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.slider-paragraph-mobile {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 0px 0px 20px;
}

.slider-mobile-substrate {
    background: #ffffff38;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-slider-mobile {
    display: block;
    width: 245px;
    margin: auto;
}

@media (max-width: 991px) {
    .content-header {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .content-title-right {
        margin-top: 18px;
    }
    .content-paragraph-middle {
        font-size: 18px;
    }
    .content-paragraph-small {
        font-size: 16px;
    }
    .content-header {
        font-size: 36px;
    }
    .contact-map-title {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .slick-slide .woocommerce ul.products[class*=columns-] li.product, 
    .slick-slide .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
        margin-bottom: 0px;
    }
    .content-title-right {
        float: inherit;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media (max-width: 540px) {
    .slider-paragraph-mobile {
        display: none;
    }
    .slider-mobile-substrate {
        flex-direction: column;
    }
    .slider-mobile-substrate .main-slider-item-bottom-title {
        margin: 0px;
        text-align: center;
    }
    .slider-mobile-header {
        margin-bottom: 0px;
    }
    .slider-mobile-block {
        flex-basis: 33%;
    }
    .slider-mobile-block-titles {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .slider-mobile-block-button {
        display: flex;
    }
}

@media (max-width: 500px) {
    .content-header {
        font-size: 32px;
    }
}
