body, html {
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;
    font-size: 16px;
    position: relative;
}

a {
	color: #0000ee;
    text-decoration: underline;
}

a:hover,
a:focus {
	color: #0000ee;
    text-decoration: underline;
}

a:active {
	color: #ff0000;
}

.site-content {
}

.footer-feedback-input-left {
	text-align: right;
}

.footer-feedback-input-right {
	text-align: left;
}

@media(max-width: 991px) {

	.site-content {
        padding-top: 50px;
    }

    .footer-feedback-input-left {
		text-align: center;
	}

	.footer-feedback-input-right {
		text-align: center;
	}

	.footer-feedback-input-left label {
		width: 100%;
	}

	.footer-feedback-input-right label {
		width: 100%;
	}
}