.container-sliders {
    height: 500px;
    overflow: hidden;
    background: #3d3d3d;
    z-index: 7;
    position: relative;
}

.slider-load-label {
    z-index: 8;
    position: relative;
    top: 50%;
    display: none;
}

.container-sliders .slick-slide img {
    width: 100%;
    position: relative;
}

.container-sliders .slick-slide {
    position: relative;
}

.container-sliders .slick-slider {
    height: 500px;
}

.slick-arrow {
    width: 30px;
    height: 50px;
    position: absolute;
    z-index: 30;
    background: transparent;
    top: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
}

.slick-prev-arrow {
    left: 20px;
    background-image: url(../images/arrow-left-white.png);
}

.slick-next-arrow {
    right: 20px;
    background-image: url(../images/arrow-right-white.png);
}

#container-sliders-parallax {
    z-index: 10;
    position: fixed;
    top: 122px;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.main-slider-item-image {
    height: 500px;
    background-size: cover;
    background-position: bottom;
}

.main-slider-road-forest {
    background-image: url(../images/road-forest.png);
}

.main-slider-sound {
    background-image: url(../images/columns.jpg);
}

.main-slider-item-title {
    position: absolute;
    z-index: 10;
    top: 85px;
    left: 160px;
}

.slider-header {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.slider-paragraph-middle {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.content-slider {
    margin-left: 30px;
    margin-right: 30px;
}

.content-slider .slick-prev-arrow {
    background-image: url(../images/arrow-left.png);
    left: -45px;
    height: 100%;
    top: 0px;
    width: 45px;
}

.content-slider .slick-prev-arrow:active {
    background-image: url(../images/arrow-left-white.png);
    background-color: #23282d;
}

.content-slider .slick-next-arrow {
    background-image: url(../images/arrow-right.png);
    right: -45px;
    height: 100%;
    top: 0px;
    width: 45px;
}

.content-slider .slick-next-arrow:active {
    background-image: url(../images/arrow-right-white.png);
    background-color: #23282d;
}

.content-slider .woocommerce ul.products, 
.content-slider .woocommerce-page ul.products {
    margin-bottom: 0px;
}

.main-slider-item-bottom-title {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.main-slider-item-bottom-title p {
    margin: 0px;
}

.main-slider-item-bottom-img-wrap {
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.main-slider-item-bottom-img {

}

.main-slider-item-bottom {
    position: absolute;
    z-index: 10;
    bottom: 85px;
    right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff38;
    padding: 5px 45px;
}

.main-slider-item-bottom:hover,
.main-slider-item-bottom:active,
.main-slider-item-bottom:focus {
    background: #ffffff4f;
}

@media (max-width: 991px) {

    #container-parallax-xs {
        background-image: url(../images/bg-block-1.jpg);
        background-size: cover;
    }

    #container-sliders-parallax {
        display: none;
    }

    #container-sliders-parallax-xs {
        background: url(../images/road-forest-mobile.png) center;
        height: 500px;
        z-index: 10;
        position: relative;
        background-size: cover;
    }
}

@media (min-width: 992px) {
    #container-sliders-parallax-xs {
        display: none;
    }
}