/*Анимация баннера акции*/
@-webkit-keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
#blink6 {
  position: relative;
  /*display: inline-block;
  color: #fff;
  text-shadow: 0 0 10px #3d7a97;
  background: #064578;*/
}
#blink6:after, #blink6:before {
  content: "";
  position: absolute; top: 0; left: 0;
  display: block;
  width: 203px;
  height: 22px;
  background-image: 
    radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
    linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
    linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
  -webkit-animation: blink6 10s linear infinite;
  animation: blink6 10s linear infinite;
  transform: scale(0, 0) rotate(0deg);
}
#blink6:before {
  top: -30%;
  right: 0; left: auto;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
/*коне Анимация баннера акции*/


/*шаг посмотреть Информацию о клиенте Кнопку сохранить выравниваем по левому краю*/
form[name="adminForm"] input[value="Сохранить"] {
    float: left;
}
/*конец шаг посмотреть Информацию о клиенте*/
/*шаг 1*/
form[name="adminForm"] div fieldset{
    width: 100% !important;

}
div#vm_sborka_div, div#vm_sborka_input {
    margin-top: 10px;
}
fieldset #email_div, #first_name_div, #last_name_div, #address_1_div, #phone_2_div, #address_type_name_div, #vm_dostavka_div, #vm_marka_avto_div, #vm_model_avto_div, #vm_v_avto_div, #vm_god_vupyska_div{
    width: 170px;
    /* text-align: right; */
}
fieldset div {
    float: left;
}
/*конец шаг 1*/

form[name="adminForm"] input[value="Подтвердить (шаг 2 из 2)"] {
    width: 200px !important;
    height: 33px !important;
    border-radius: 5px !important;
    color: white;
    font: 14px/32px Arial;
    cursor: pointer;
    text-decoration: none;
    background: url('../images/to_cart_big.png') 0 33px !important;
    border: none;
    text-shadow: 1px 1px 2px #A84000;
    display: block;
    text-align: center;
}
form[name="adminForm"] input[value="Подтвердить (шаг 2 из 2)"]:hover {
    background: url('../images/to_cart_big.png') 0px 0px !important;
}

form[name="adminForm"] input[value="Продолжить (шаг 1 из 2)"] {
    width: 200px !important;
    height: 33px !important;
    border-radius: 5px !important;
    color: white;
    font: 14px/32px Arial;
    cursor: pointer;
    text-decoration: none;
    background: url('../images/to_cart_big.png') 0 33px !important;
    border: none;
    text-shadow: 1px 1px 2px #A84000;
    display: block;
    text-align: center;
}
form[name="adminForm"] input[value="Подтвердить (шаг 2 из 2)"]:hover {
    background: url('../images/to_cart_big.png') 0px 0px !important;
}


div#nenashli2 {
    padding: 5px;
    position: fixed;
    width: 150px;
    left: 7px;
    bottom: 7px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    border: 5px ridge rgb(255, 255, 255) !important;
    box-shadow: rgb(236, 163, 17) 0px 0px 24px !important;
    text-shadow: rgb(136, 70, 0) 1px 1px 1px !important;
    background-color: rgb(253, 133, 4) !important;
    border-style: double !important;
    border-radius: 10px;
}

div#nenashli2:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255) !important;
    border: 3px ridge rgb(255, 255, 255) !important;
    box-shadow: rgb(236, 163, 17) 0px 0px 44px !important;
    text-shadow: rgb(136, 70, 0) 1px 1px 1px !important;
    background-color: rgb(253, 133, 4) !important;
    cursor: pointer;
    border-style: double !important;
    border-radius: 10px;
}

/*div#nenashli2:hover {
    text-decoration: underline;
    color: rgb(10, 103, 105) !important;
    border: 5px ridge rgb(95, 242, 23) !important;
    box-shadow: rgba(161, 253, 50, 0.792157) 0px 0px 24px !important;
    text-shadow: rgba(253, 243, 50, 0.792157) 1px 1px 1px !important;
    background-color: rgb(175, 249, 192) !important;
    cursor: pointer;
} */


p#nenashli {
    text-align: center;
    width: 100%;
    margin: 0px 0 0 0;
    color: #FFB356;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-family: serif;
    text-shadow: 1px 1px 1px rgb(228, 9, 9);
    /* text-transform: uppercase; */

    
}
p#nenashli:hover {
    color: #FFB356;
    cursor: pointer;
    text-shadow: 1px 1px 25px rgb(228, 91, 9);
    font-style: normal;
    text-decoration: underline;
}

div#hochudeshevle {
    padding: 5px;
    color: rgb(10, 105, 10);
    position: absolute;
    width: 150px;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
    text-align: center;
    border: 5px ridge rgb(176, 242, 23);
    box-shadow: rgba(161, 253, 50, 0.792157) 0px 0px 44px;
    text-shadow: rgba(253, 243, 50, 0.792157) 1px 1px 1px;
    background-color: rgb(223, 232, 239);
}

div#hochudeshevle:hover {
    text-decoration: underline;
    color: rgb(10, 103, 105) !important;
    border: 5px ridge rgb(95, 242, 23) !important;
    box-shadow: rgba(161, 253, 50, 0.792157) 0px 0px 24px !important;
    text-shadow: rgba(253, 243, 50, 0.792157) 1px 1px 1px !important;
    font-size: 17px;
    background-color: rgb(175, 249, 192) !important;
    cursor: pointer;
}

div#konkurs  a:hover {
    text-decoration: underline !important;
}

.sectiontableheader
{
    font: 16px/25px Arial,sans-serif;
    color: #333;
    text-align: left;
    padding: 10px 0 10px 0;
}
.sectiontableentry2, .sectiontableentry1
{
    font: 12px/25px Arial,sans-serif;
    vertical-align: middle;
}
.sectiontableentry
{
    font: 12px/25px Arial,sans-serif;
    vertical-align: middle;
}

#cart_content input[type="text"]
{
    width: 43px;
    height: 18px;
    margin: 0 0 0 5px;
    background: url('../images/pole.png');
    border: 0;
    padding: 2px;
    font-size: 12px;
    font-family: Arial;
    color: #6e6e6e;
    text-align: center;
    display: inline;
}
#cart_content .delete
{
    border:0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    margin: 0 0 0 5px;
/* float: left;*/
}
.alert
{
    width: 20px;
    height: 20px;
    background: url('../images/alert.png');
    float: left;
}
.important
{
    font: 12px/20px Arial;
    color: #ef0005;
    text-shadow: 0 0 1px #fe8f01;
    padding: 20px 0 0 0;
    text-indent: 5px;
    float: left;
    width: 100%;
}
.checkout_link
{
        width: 162px;
        height: 32px;
        color: white;
        font: 14px/32px Arial;
        cursor: pointer;
        text-decoration: none;
        background: url('../images/checkout.png') 0 32px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
        display: block;
        text-align: center;
        float: left;
}
.checkout_link:hover
{
        background-position: 0 0px;
}
.checkout_link:active
{
        background-position: 0 0px;
}
.continue_link
{
        width: 162px;
        height: 32px;
        color: white;
        font: 14px/32px Arial;
        cursor: pointer;
        text-decoration: none;
        background: url('../images/checkout.png') 0 32px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
        display: block;
        text-align: center;
        float: left;
}
.continue_link:hover
{
        background-position: 0 0px;
}
.continue_link:active
{
        background-position: 0 64px;
}