#category_list
{
    
}

#category_list .mf
{
    width: 195px;
    height: 100px;
    float: left;
    padding: 10px 0 10px 0;
    float: left;
    overflow: hidden;
    text-align: center;
}

div#vm_dostavka_div, div#first_name_div, div#last_name_div, div#email_div, div#phone_2_div, div#vm_rools_div{
    font-weight: bold;
    text-decoration: underline;
}
select#vm_dostavka, input#first_name_field, input#last_name_field, input#email_field, input#phone_2_field, input#vm_rools_field, div#vm_rools_input  {
    background-color: #ff00002e;
    
}