form[name="adminForm"] input[type="submit"]
{
        width: 162px;
        height: 32px;
        color: white;
        font: 14px/32px Arial;
        cursor: pointer;
        text-decoration: none;
        background: url('../images/checkout.png') 0 32px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
        display: block;
        text-align: center;

    
}
form[name="adminForm"] input[type="submit"]:hover
{
        background-position: 0 0px;
}
form[name="adminForm"] input[type="submit"]:active
{
        background-position: 0 64px;
}
form[name="adminForm"] .important
{
    font: 12px/20px Arial;
    color: #ef0005;
    text-shadow: 0 0 1px #fe8f01;
    padding: 0px 0 10px 0;
    text-indent: 5px;
}

