#flypage
{
    width: 80%;
}
#flypage .price
{
    margin: 10px 0 0 0;
    display: block;
    font-size: 25px;
}
#flypage input[type="text"]
{
    width: 43px;
    height: 18px;
    margin: 0 0 0 5px;
    background: url('../images/pole.png');
    border: 0;
    padding: 2px;
    font-size: 12px;
    font-family: Arial;
    color: #6e6e6e;
    text-align: center;
    display: inline;
}
#flypage input[type="submit"]
{
        width: 118px;
        height: 33px;
        color: white;
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        background: url('../images/to_cart.png') 0 33px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
}
#flypage input[type="submit"]:hover
{
        background-position: 0 0px;
}
#flypage input[type="submit"]:active
{
        background-position: 0 66px;
}
#flypage img
{
    vertical-align: middle;
}

#flypage .plus
{
        width: 22px;
        height: 22px;
        background: url('../images/plus.png') 0 0;
        cursor: pointer;
        margin: 5px 0 0 5px;
        padding: 0;
        border: 0;
}
#flypage .plus:hover
{
        background-position: 0 44px;
}
#flypage .plus:active
{
        background-position: 0 22px;
}
#flypage .minus
{
        width: 22px;
        height: 22px;
        background: url('../images/minus.png') 0 0;
        cursor: pointer;
        margin: 5px 0 0 5px;
        padding: 0;
        border: 0;
}
#flypage .minus:hover
{
        background-position: 0 44px;
}
#flypage .minus:active
{
        background-position: 0 22px;
}
#content li
{
    float: left;
    padding: 0 10px 0 10px;
    
}
#content ul.pagination
{
    float: left;
    width: 100%;
    height: auto;
    font: 12px/15px Arial;
    color: #333;
    padding: 10px 0 0 0;
}
.results_per_page
{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0 0 0;
}
.results_per_page select
{
    float: none;
}
.results_total
{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0 0 0;
}
.fly_manufacturer
{
    width: auto;
    padding: 0 0 0 20px;
    float: right;
}
.fly_manufacturer img
{
    float: none;
}
.fly_manufacturer a
{
    float: none;
}
.fly_manufacturer h2
{
    color: #036ffc;
    font: 20px/25px Arial;
}

.fly_image
{
    float: left;
    padding: 0 50px 0 0;
}
#flypage h1
{
    color: #fe8f01;
    font: 30px/40px UkrainianCompactBold;
    padding: 0 0 10px 0;
}
#flypage h3
{
    color: #333;
    font: bold 14px/15px Arial;
    padding: 10px 0 0 0;
    width: 100%;
}
#flypage .vmCartContainer
{
    width: auto;
    padding: 10px 0 0 0;
}
#flypage table
{
    width: 300px;
}
.fly_avail
{
    width: 100%;
    padding: 10px 0 0 0;
}
#flypage .availabilityHeader
{
    font: bold 14px/15px Arial;
}