h1,h2,h3,h4,h5,h6,.contentheading{
	text-align: center;
}
footer
{
	width: 100%;
	clear: both;
	/*background: #6e6e6e;*/
	bottom: 0;
	display: block;
	position: relative;
	margin-top: -153px;
}
#footer_content
{
	width: 980px;
	margin: 0 auto;
}
.footer_nav
{
	width: 100%;
	color: white;
	font-family: Arial;
	font-size: 14px;
	margin: 5px 0 3px 0;
	float: left;
	/*line-height: 43px;*/
	background: url('../images/footer.png');
	display: flex;
    justify-content: center;
}
.footer_nav a
{
	display: block;
	float: left;
	color: grey;
	text-decoration: none;
	padding: 0 8px;
	font-weight: bold;
	font-size: 14px;
}
.footer_nav a:hover
{
	color: #fe8f01;
}
.footer_nav .devider
{
	float: left;
	color: #FD8E15;
}
footer p.copy
{
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	width: 70%;
	line-height: 45px;
	text-indent: 50px;
}
footer p.copy span
{
	color: #fe8f01;
}
footer p.contacts
{
	width: 30%;
	float: right;
	font-family: Arial;
	font-size: 12px;
	color: white;
	line-height: 45px;
	text-decoration: underline;
	cursor: pointer;
}
footer p.contacts:hover
{
    text-decoration: none;
}
footer p.contacts img
{
	margin: 13px 0 0 0;
	padding: 0 5px 0 0;
	float: left;
}
div#partners
{
	width: 100%;
	height: auto;
	background: url('../images/bg.png') repeat;
	text-align: center;
}
div#partners img
{
	padding: 0 5px 0 0;
}
#copy {
	color: #DADADA;
}
#copir {
	padding: 7px 0;
	background: #6e6e6e; 
}
#copir img{
  vertical-align: middle;
}
#topcontrol {
	margin-bottom: 70px;
}
#reklama {
	border:1px solid rgb(189, 189, 189);
	width:980px; 
	height: 92px; 
	margin: 0 auto; 
	background: rgba(207, 207, 207, 0.61);
	text-align:center; 
	font-size: 25px;
	color: rgb(112, 112, 112);
	font-weight: bold;	
}
#reklama p{
	margin-top: 8px;
}
#reklama p span{
	text-shadow: rgba(159, 172, 139, 0.35) 0 -4px 5px, #D3D3D3 0 4px 5px, #FFF 4px 0 5px, #FFF -4px 0 5px, rgba(54, 52, 52, 0.55) 0 5px 4px;
	display: inline-block;
	width: 175px;
}
#reklama p span a{
	text-decoration: none;
	color: inherit;
	transition: all .2s .5s ease-out;
}
#reklama p span a:hover{
	text-shadow: rgba(159, 172, 139, 0) 0 -4px 5px, rgba(211, 211, 211, 0.64) 0 4px 5px, #FFF 4px 0 5px, #FFF -4px 0 5px, rgba(54, 52, 52, 0) 0 5px 4px;
	font-size: 22px;
}
/*#spec {
	border: 0px solid #FF6969;
	float: left;
	width: 966px;
	padding: 7px;
	background: rgba(207, 207, 207, 0.61);
	color: rgb(75, 75, 75);
	box-shadow: 7px 7px 17px rgba(253, 61, 61, 0.51);
	
}*/	

#spec {
	border: 3px solid #FD9332;
    background: rgba(207, 207, 207, 0.61);
    color: rgb(75, 75, 75);
    box-shadow: 7px 7px 17px rgba(253, 147, 50, 0.79);
}
#spec span{
	/* color: #6F5226 !important; */
	font-size: 17pt !important;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

div#vm_vin_div {
    width: 170px;
}