
div#konkurs:hover {
    box-shadow: 7px 7px 5px rgba(255, 0, 0, 0.4) !important;
    background-color: rgba(251, 55, 55, 0.89) !important;
}
div#konkurs a:hover{
    text-decoration: none !important;
}
div#container
{
	width: 980px;
	height: 100%;
/*	overflow: hidden;*/
	margin: 0 auto;
}
header
{
	width: 100%;
}

#logo,#cont,#cart,#auth
{
	font-family: Arial;
	float: left;
}
header img{
  vertical-align: middle;
}
#address
{
	width: 100%;
	float: left;
	font-style: italic;
	font-size: 12px;
	margin-top: 3px;
}
#logo
{
	height: 100px;
	width: 280px;
	background: url('../images/logo_.png');
}
#cont
{
	width: 250px;
	margin: 20px 0 0 20px;
	font-size: 12px;
	padding: 0px 0 0 0;
        text-align: center;
}
#cont p
{
	width: 100%;
	float: left;
	padding: 3px 0 0 0;
	margin: 0;
}
#phone
{
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
        vertical-align: bottom;
}
#cart
{
	width: 185px;
	margin: 25px 0 0 70px;
}
#cart div
{
/*	width: 100%;*/
/*	float: left;*/
}
#cart_top
{
	height: 40px;
	line-height: 40px;
	text-indent: 55px;
	background: url('../images/cart.png') 0 0;
	cursor: pointer;
	font-size: 16px;
}
#cart_top:hover
{
	background-position: 0 40px;
}
#cart_top:active
{
	background-position: -30%;
}
#cart_body
{
    font: 12px/15px Arial;
    padding: 5px 0 0 5px;
}
#auth
{
	width: 135px;
	margin: 4px 0 0 20px;
}
#auth div
{
	width: 100%;
	float: left;
}
#auth img
{
	padding: 0 3px 0 0;
}
#auth_top
{
	height: 40px;
	line-height: 40px;
	text-indent: 55px;
	background: url('../images/auth.png') 0 40px;
	cursor: pointer;
	font-size: 16px;
}

#auth_top:hover
{
	background-position: 0 0;
}
#auth_top:active
{
	background-position: -30%;
}
#auth_viber, #auth_whatsapp, #auth_skype, #auth_icq, #auth_mail,#auth_skype a, #auth_icq a, #auth_mail a
{
        font: bold 15px/25px Arial;
	color: #6e6e6e;
	line-height: 22px;
	text-decoration: none;
}
#auth_skype:hover
{
    text-decoration: underline;
}

nav 
{
	clear: both;
	float: left;
	padding: 5px 0 0 0;
}
nav li a
{
	display: block;
	font-family: UkrainianCompactBold;
	font-size: 24px;
	color: white;
	text-decoration: none;
	line-height: 70px;
}
nav li
{
	width: 242px;
	height: 70px;
	float: left;
	line-height: 70px;
	background: #6e6e6e;
	margin: 0 0 0 3px;
	background: url('../images/nav_inact.png');
}
.tri_inact
{
	height: 10px;
	width: 23px;
	background: url('../images/nav_inact_tri.png');
	position: absolute;
	margin: 70px 0 0 111px;
	display:none;
}
.tri_act
{
	height: 10px;
	width: 23px;
	background: url('../images/nav_act_tri.png');
	position: absolute;
	margin: 70px 0 0 111px;
	display: none;
}
nav li:hover .tri_inact
{
	display: block;
}
nav li.active
{
	background: url('../images/nav_act.png');
}
nav li.active .tri_act
{
	display: block;
}
nav li.active a
{
	color: black;
}

nav li .img1
{
	width: 45px;
	height: 70px;
	float: left;
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	background: url('../images/ko.png') no-repeat;
}
nav li .img2
{
	width: 45px;
	height: 70px;
	float: left;
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	background: url('../images/ko2.png') no-repeat;
}
nav li .img0
{
	width: 45px;
	height: 70px;
	float: left;
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	background: url('../images/ko0.png') no-repeat;
}
div#goToUp
{
height: 100%;
width: 100px;
background: grey;
position: fixed;
left:0;
top:0;
display:none;
}

div#address_1_div {
    float: left;
}

#konkurs-block {
	display: flex;
	justify-content: center;
}

.header-blocks {
	display: flex;
	justify-content: center;
}

.main-menu-block {
	
}