#modalBack
{
    background: url('../images/search_bg.png') repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:9998;
}
#modalWindow
{
    width: 880px;
    height: auto;
    padding: 30px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    position: absolute;
    top: 20%;
    background: url('../images/modal_bg.png') repeat;
    z-index: 9999;
}
.sectiontableheader
{
    font: 16px/25px Arial,sans-serif;
    color: #333;
}
.sectiontableentry2, .sectiontableentry1
{
    font: 12px/35px Arial,sans-serif;
}
#modalWindow input[type="text"]
{
    width: 43px;
    height: 18px;
    float: left;
    margin: 5px 0 0 5px;
    background: url('../images/pole.png');
    border: 0;
    padding: 2px;
    font-size: 12px;
    font-family: Arial;
    color: #6e6e6e;
    text-align: center;
}
/*.delete
{
    width: 20px;
    height: 20px;
    background: url('../images/del.png') no-repeat 0 0;
    border:0;
    padding: 0;
    cursor: pointer;
}
*/
.alert
{
    width: 20px;
    height: 20px;
    background: url('../images/alert.png');
    float: left;
}
.important
{
    font: 12px/20px Arial;
    color: #ef0005;
    text-shadow: 0 0 1px #fe8f01;
    padding: 20px 0 0 0;
    text-indent: 5px;
}
.checkout
{
        width: 162px;
        height: 32px;
        color: white;
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        background: url('../images/checkout.png') 0 32px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
}
.checkout:hover
{
        background-position: 0 0px;
}
.checkout:active
{
        background-position: 0 64px;
}
.loading
{
    width: 40px;
    height: 40px;
    background: url('../images/ajax.gif');
}
.protector
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}
#vmMainPage
{
    width: 100%;
margin-top: 10px;
}
div ﻿#search_body {
margin: 0 auto;
border: 2px solid #0F0F0F;
border-color: rgb(255, 157, 32);
opacity: 0.9;
background-color: #5E5E5E;
}