#results_table input[type="text"]
{
    width: 43px;
    height: 18px;
    margin: 0 0 0 5px;
    background: url('../images/pole.png');
    border: 0;
    padding: 2px;
    font-size: 12px;
    font-family: Arial;
    color: #6e6e6e;
    text-align: center;
    display: inline;
}
#results_table input[type="submit"], .contact_email button[type="submit"]
{
        width: 118px;
        height: 33px;
        color: white;
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        background: url('../images/to_cart.png') 0 33px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
}
#results_table input[type="submit"]:hover, .contact_email button[type="submit"]:hover
{
        background-position: 0 0px;
}
#results_table input[type="submit"]:active, .contact_email button[type="submit"]:active
{
        background-position: 0 66px;
}
#special input[type="submit"]
{
        width: 118px;
        height: 33px;
        color: white;
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        background: url('../images/to_cart.png') 0 33px;
        border: none;
        text-shadow: 1px 1px 2px #A84000;
}
#special input[type="submit"]:hover
{
        background-position: 0 0px;
}
#special input[type="submit"]:active
{
        background-position: 0 66px;
}
#results_table img
{
    vertical-align: middle;
}

#results_table td
{
    padding: 10px 0 10px 0;
    width: auto;
}
#results_table .plus
{
        width: 22px;
        height: 22px;
        background: url('../images/plus.png') 0 0;
        cursor: pointer;
        margin: 5px 0 0 5px;
        padding: 0;
        border: 0;
}
#results_table .plus:hover
{
        background-position: 0 44px;
}
#results_table .plus:active
{
        background-position: 0 22px;
}
#results_table .minus
{
        width: 22px;
        height: 22px;
        background: url('../images/minus.png') 0 0;
        cursor: pointer;
        margin: 5px 0 0 5px;
        padding: 0;
        border: 0;
}
#results_table .minus:hover
{
        background-position: 0 44px;
}
#results_table .minus:active
{
        background-position: 0 22px;
}
#content li
{
    float: left;
    padding: 0 10px 0 10px;
    
}
#content ul.pagination
{
    float: left;
    width: 100%;
    height: auto;
    color: #333;
    padding: 10px 0 0 0;
}
.pagenav
{
    font: 14px/16px Arial;
}
.results_per_page
{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0 0 0;
    font: 14px/16px Arial;
}
.results_per_page select
{
    float: none;
}
.results_total
{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0 0 0;
    font: 14px/16px Arial;
}
#orderby_form
{
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}
#results_table div.full_image
{
    display: none;
    position: absolute;
    z-index: 9999;
    margin: 0 0 0 100px;
}
.special
{
    width: 90px;
    height: 55px;
    background: url('../images/special.png') no-repeat;
    position: absolute;
}
#results_table .sectiontableentry a
{
    font: 14px/16px Arial;
}