div#search
{
    width: 100%;
    background: url(../images/pic_slide.jpg);
    background-position: center;
    background-size: cover;
    margin: 3px 0 0 0;        
}
p.search_main
{
	color: #fe8f01;
	font-size: 35px;
	font-family: UkrainianCompactBold;
	width: 831px;
	text-align: center;
	margin: 0 auto;
	padding: 30px 0 0 0;
	background: url('../images/search_bg.png') repeat;
}
p.search_main span
{
	color: white;
}
p.search_main_2
{
	font-size: 16px;
	line-height: 16px;
	font-family: Arial;
	color: white;
	width: 831px;
	text-align: center;
	background: url('../images/search_bg.png') repeat;
	padding: 10px 0 10px 0;
        margin: 0 auto;
}

section#content
{
/*	padding: 20px 0 50px 0;
	min-height: 300px;*/
	float: left;
	width: 100%;
	font: 12px/15px Arial;
	color: #333;
}
#left
{
	width: 430px;
	height: auto;
	float: left;
}
#right
{
	width: 480px;
	height: auto;
	float: left;
	margin: 0 0 0 70px
}
#left h1, #right h1
{
	width: 100%;
	font-family: Arial;
	font-weight: normal;
	font-size: 16px;
	float: left;
	/*border-bottom: 2px dotted black;*/
	line-height: 26px;
}
#left h1 img, #right h1 img
{
	float: left;
	padding: 0 5px 0 0;
}
#left p
{
	padding: 20px 0 0 0;
	width: 100%;
	height: auto;
	float: left;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	
}
div.img
{
	width: 230px;
	height: 160px;
	border: solid 2px #c6c6c6;
	float: left;
	cursor: pointer;
	overflow: hidden;
}
span.price
{
	color:#036ffc;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold;
}
#search_body
{
	padding: 20px 0 0 0;
	width: 824px;
	height: 240px;
	/*background: url('../images/search_bg.png') repeat;*/
margin: 0 auto;
border: 4px double #0F0F0F;
border-color: rgb(255, 157, 32);
opacity: 0.9;
background-color: #5E5E5E;
}
#search_body ul
{
    width: 100%;
    height: auto;
    float: left;
}
#search_body p
{
	color: white;
	font-family: Arial;
	font-size: 16px;
	line-height: 21px;
	float: left;
	padding: 0 0 10px 0;
}
#search_body .search_devider
{
	float: left;
	width: 13px;
	height: 220px;
	background: url('../images/line.png') no-repeat;
	margin: 0 0 0 40px;
}
#search_body form
{
	width: 200px;
	height: 220px;
	float: left;
	padding: 0 0 0 30px;
}
/*выравнивание заголовков фильтров по центру*/
#search_body form p {
       width: 200px;    
       text-align: center;
}
select
{
	float: left;
	padding: 2px;
	background: white;
	font-family: Arial;
	font-size: 12px;
	border: solid 1px black;
	margin: 3px 0 0 0;
}
select.width_1
{
	width: 145px;
	margin: 3px 0 0 10px;
}
select.width_2
{
	width: 200px;
}
select.width_c
{
	width: 45px;
}
div.space
{
	width: 10px;
	height: 10px;
	float: left;
}
/*.search_button
{
	width: 21px;
	height: 21px;
	background: url('../images/search_button.png') 0 0;
        background-color: #E77B0C;    
        border-radius: 5px;
	float: left;
	cursor: pointer;
	margin: 10px 0 0 0;
}
.search_button:hover
{
	background-position: 0 42px;
}
.search_button:active
{
	background-position: 0 21px;
}*/
.search_button
{
width: 200px;
height: 33px;
color: white;
font-family: Arial;
font-size: 14px;
cursor: pointer;
background: url('../images/to_cart_big.png') 0 33px;
    background-color: #E77B0C;    
    border-radius: 5px;
border: none;
text-shadow: 1px 1px 2px #A84000;
float: left;
margin: 10px 0 0 0;
text-align: center;
}
.search_button:hover
{
background-position: 0 0px;
}
.search_button:active
{
background-position: 0 66px;
}

.hover
{
    display: none;
    position: absolute;
    background: url('../images/search_bg.png') repeat;
    color: white;
    padding: 15px 0 0 15px;
    width: 215px;
    height: 145px;
    margin: 2px 0 0 2px;
    cursor: pointer;
}
.hover span
{
    line-height: 30px;
    
}
.search_name
{
    width: 100%;
    float: left;
    line-height: 30px;
    padding: 0 0 0 5px;
}
h2,h3
{
    font: 30px/45px UkrainianCompactBold;
    color: #fe8f01;
}
.shop_info
{
    font: 12px/25px Arial,sans-serif;
}
.contentheading
{
    font: 30px/45px UkrainianCompactBold;
    color: #fe8f01;
}
.contentpaneopen
{
    font: 15px/18px Arial;
    
}
.contentpaneopen p
{
    padding: 0 0 10px 0;
}
fieldset
{
    float: left;
}